<html lang="en"><head>
    <meta charset="utf-8">
    <title>Strava Leaderboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.rawgit.com/thomaspark/bootswatch/4b0d3762f309326a6d66fa4ea18945a7fc11f8ef/sandstone/bootstrap.min.css">
</head>
<body>

    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Strava Challenge Leaderboard</h1>
                </div>
            </div>
        </div>

        <div style="margin: 2em 0 4em">
            <h3> Don't see your total in the list? </h3>
            <p>
                <a href="{% url 'strava-auth' %}?start_date={{ start_date }}&end_date={{ end_date }}"
                    class="pull-right btn btn-success">Authorize through Strava</a>
                That means you're not currently eligible to win.
                Sign in through Strava to become eligible and show up on this leader board.
            </p>
        </div>

        <form class="form-inline pull-right">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">From</label>
                <div class="input-group">
                    <label class="input-group-addon">From</label>
                    <input type="date" name="start_date" placeholder="mm/dd/yyyy" value="{{ start_date }}" class="form-control">
                </div>
                <div class="input-group">
                    <label class="input-group-addon">To</label>
                    <input type="date" name="end_date" placeholder="mm/dd/yyyy" value="{{ end_date }}" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Change Date Range</button>
            <p class="text-muted">
                Note: The weekly Strava challenge runs Monday through Sunday
            </p>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Time</th>
                </tr>
            </thead>
            <tbody>
                {% for name, time in times.items %}
                    <tr>
                        <th>
                            {{ name }}
                        </th>
                        <td>
                            {% if time %}
                                {{ time }}
                            {% elif time is not None %}
                                No time recorded
                            {% else %}
                                <span class="text-muted">Not Authorized</span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=2>
                            No authorized users
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body></html>
